.row
  .col-md-offset-4.col-md-4
    %h2
      Create a new account
    = simple_form_for(@account) do |account|
      =account.input :name
      =account.fields_for :owner do |owner|
        =owner.input :email
        =owner.input :password
        =owner.input :password_confirmation
      =account.input :subdomain
      =account.submit class: 'btn-primary'
